# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# TypeScript compiled output
*.tsbuildinfo

# Yarn
.yarn/
yarn-error.log

# IDE and editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Other files
*.tgz
*.zip
