.min-h-screen {
    min-height: 100vh;
  }
  
  .input {
    padding-left: 2.5rem;
    width: 100%;
  }
  
  .select {
    padding: 0.5rem;
  }
  
  .alert {
    margin-bottom: 1.5rem;
    color: #d32f2f;
    background-color: #fbe9e7;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .loader {
    animation: spin 1s linear infinite;
    border: 4px solid #e5e7eb;
    border-top: 4px solid #3b82f6;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  